/* #1E1E1E - FONDO
#D4D4D4 - TEXTO
#00BFFF - RESALTADO
#FF4500 - BOTONES
#333333 - SOMBRA
Títulos principales: 32-36 px - MONTSERRAT EXTRA BOLD
Subtítulos: 24-30 px. - MONTSERRAT BOLD/SEMIBOLD
Texto de cuerpo: 18-24 px. - LATO
Notas o descripciones adicionales: 16-18 px - LATO */

body{
    background-color: #1E1E1E !important;
}

main {
    display: flex;
    text-align: center;
    color: #D4D4D4;
}

h2 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 10px;
}

.caruserl-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.caruserl-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.caruserl-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.caruserl-box img {
    width: 100%;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}


#img1 {
    width: 50px;
    height: 50px;
}